
<%- include('./header.ejs') %> 
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand "  href="/">BLOOG SITE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Admin">Admin</a>
        </li>
      </ul>
      <form action="/search" method="POST" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>



      <div class="container py-5 ">
       
          <div class="row py-5  align-items-center">
            <% for(var i=0 ; i < result.length ; i++){%>
            <div class="col-md-4  mt-3">
              <div class="dad ">  
                  <div class="card m-auto w-100" style="height: 12rem; ">
                  <div class="card-body ">
                    <h5 class="card-title text-center "><%= result[i].title%></h5>
                    <p class="card-text article<%=i%> "><%= result[i].description%></p>
                    <div class="text-center link">
                        <a href="/readmore/<%= result[i].id %>" class="btn btn-danger readmore ">Read More</a>
                  </div>
                  </div>
              </div>
            </div>
         

                  
              </div>
              <%}%>
          </div>
      </div>
      <p class="index d-none" ><%=i%></p>

      <%- include('./footer.ejs') %> 


      <script src="/js/index.js"></script>
    </body>
    </html>